body,
html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}
.intro {
  padding: 180px;
  font-size: 70px;
  color: white;
  text-shadow: 3px 3px black;
}
.boxShadow {
  box-shadow: 3px 2px 10px 18px lightgray;
}
h1 {
  text-shadow: 3px 2px paleturquoise;
}
.textNimg {
  box-shadow: 3px 2px 10px 18px lightgrey;
  height: 55vh;
  margin-bottom: 55px;
}
h5 {
  text-shadow: 3px 2px lightgrey;
}
.mainPageFooter {
  border: 2px transparent;
  box-shadow: 8px 8px 8px 8px rgb(143, 140, 139);
}
.demo {
  margin-top: 20px;
  /* border: 2px solid red; */
  height: 55vh;
  width: 100%;
  background-image: url("/images/pic2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#textimg {
  margin-top: 60px;
}
.parallaxImg {
  /* The image used */
  background-image: url("/images/pic3.png");
  margin-bottom: 55px;
  /* Full height */
  height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
