body,
html {
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
}

.intro {
  padding: 180px;
  font-size: 70px;
  color: white;
  text-shadow: 3px 3px black;
}

.searchSection {
  margin: 20px 0px;
  padding: 30px;
}

.borderdisplay {
  box-shadow: 3px 2px 5px 5px lightgray;
  /* border: 1px solid black; */
  margin: 10px 0px;
}
.container-fluid {
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

h1 {
  text-shadow: 3px 2px paleturquoise;
}

.imgNtext {
  padding: 30px;
}

.whyGTA {
  padding: 30px;
}

h5 {
  text-shadow: 3px 2px lightgrey;
}

h2 {
  text-shadow: 3px 2px paleturquoise;
}

.youtubeVideo {
  padding: 30px;
}

.mainPageFooter {
  border: 2px transparent;
  box-shadow: 8px 8px 8px 8px rgb(143, 140, 139);
}

.demo {
  margin-top: 20px;
  /* border: 2px solid red; */
  height: 45.5vh;
  width: 100%;
  background-image: url("/images/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* #textimg {
  margin-top: 60px;
} */

.parallaxImg {
  /* The image used */
  background-image: url("/images/pic3.png");
  margin-bottom: 55px;
  /* Full height */
  height: 150px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.textNimg {
  box-shadow: 3px 2px 10px 18px lightgrey;
  height: 55vh;
  margin-bottom: 55px;
}

.info-blocks {
  margin-bottom: 15px; /* background: #efefef; */
}
.info-blocks i.icon-info-blocks {
  /* float: left; */
  color: #93c83f;
  font-size: 48px;
  min-width: 50px;
  margin-bottom: 15px;
  text-align: center; /* background: #ffffff; */
  width: 72px; /* height: 72px; */ /* padding-top: 21px; */ /* border: 1px solid #e0e0e0; */ /* line-height: 75px; */
  width: 100%;
}
.info-blocks .info-blocks-in {
  padding: 46px 22px;
  overflow: hidden;
  border: 1px solid #dedede;
  text-align: center;
  background: #fff;
}
.info-blocks .info-blocks-in h3 {
  color: #202020;
  font-size: 22px;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 8px; /* font-weight: bold; */
}
.info-blocks .info-blocks-in p {
  font-size: 14px;
}
.info-blocks .info-blocks-in:hover {
  border: 1px solid #93c83f;
}
#hoverEffect:hover {
  background-color: chartreuse;
}

.testflex {
  display: flex;
  box-shadow: 3px 2px 10px 18px lightgrey;
  height: auto;
  margin-bottom: 55px;
  padding: 70px 30px;
}

.info-blocks-in img {
  border-radius: 80%;
  margin-bottom: 40px;
  height: 100px;
}
