body,
html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
 
.ownerBg { 
  /* background-image: url("/images/pic6.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  box-shadow: 10px 10px 10px 18px grey;
 }

.DBheader {
  background-color: rgb(51, 75, 128);
  padding: 10px;
  text-align: right;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  border: 10px;
  box-shadow: 2px 3px goldenrod;
}

.paddingForPage {
  clear: both;
  padding: 20px;
}

.borderForAddress {
  border: 2px solid black;
  box-shadow: 2px 2px grey;
  background-color:white;
}

.cardDeck {
  box-shadow: 2px 2px 2px 2px darkgrey
}

.detailNedit {
  padding: 15px;
  font-size: larger;
  font-weight: bold;
  background-color: white;
}
