body,
html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.SRbg {
  box-shadow: 10px 10px 10px 18px grey;
}

.SRheader {
  background-color: rgb(51, 75, 128);
  padding: 10px;
  text-align: right;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  border: 10px;
  box-shadow: 2px 3px goldenrod;
}

.SRPadding {
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.featureList {
  clear: both;
  border: 2px solid black;
  box-shadow: 3px 3px rgb(146, 150, 143);
  background-color: rgb(255, 251, 253);
  padding: 20px;
 
}

.mapborder {
  border: 2px solid black;
  background-color: rgb(255, 251, 253);
  box-shadow: 3px 3px rgb(146, 150, 143);
}
