body,
html {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.pbg {
  /* The image used */
  background-image: url("/images/pic4.png");
  margin-bottom: 20px;
  /* Full height */
  height: 200px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 3px 2px 10px 12px rgb(33, 37, 37);
}

.yourBooking {
  padding: 70px;
  font-size: 40px;
  color: white;
  text-shadow: 3px 3px black;
}

.cardBody {
    text-align: center;
}

.cardHeader {
    font-weight: bold;
}

.cardImg {
    box-shadow: 3px 3px 3px 3px black;;
}


